<!DOCTYPE html>
<html>
    <head>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>
    
  <body>
      <script>
         var app = angular.module('myApp', []);
         app.controller('sendPush', function($scope, $http) {

          $scope.SendData = function () {

              var jwt = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIzYWQ3ZGM3Ni1jMTRhLTQ0NWYtYjlhYS00N2QyYTQ5OThlMDEifQ.t9RTacPCItrA9r3q-HQhdorlzGldi5r3gaKtHASFGjs';
              var tokens = ['DEV-44c88a1d-0590-4958-a836-948423739be8'];
              var profile = 'securityp';

              // Build the request object
              var req = {
                method: 'POST',
                url: 'https://api.ionic.io/push/notifications',
                headers: {
                  'Content-Type': 'application/json',
                  'Authorization': 'Bearer ' + jwt
                },
                data: {
                  "tokens": tokens,
                  "profile": profile,
                  "notification": {
                    "title": "Hi",
                    "message": "Hello world!",
                    "android": {
                      "title": "Hey",
                      "message": $scope.mymsg,
                    }
                  }
                }
              };

              // Make the API call
              $http(req).success(function(resp){
                // Handle success
                console.log("Ionic Push: Push success", resp);
              }).error(function(error){
                // Handle error 
                console.log("Ionic Push: Push error", error);
              });
          	};

        }); 
    
      </script>
      
      <div ng-app="myApp" ng-controller="sendPush">
        <p>Enter your message: <input type="text" ng-model="mymsg" placeholder="Enter message" /></p>
          <button ng-click="SendData()">Submit</button>
      </div>
      
      
      
    </body>
</html>